a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
    text-align: center;
    background-color: rgb(229, 226, 226);
}

#content {
  background-color: white;

    text-align: left;
    max-width: 800px;
    width: 100%;
    display: inline-block;
    font-size: 12pt;

    border: 1px solid black;
    border-radius: 5px;
    padding: 45px;
    box-sizing: border-box;
}

#raw-text {
    color: blue;
}

.app {
    width: 70px;
    height: 70px;
    text-align: center;
    font-weight: bold;
    margin: 1rem;
    padding: 5px;
    
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0);
}

.app:hover {
  border: 4px solid rgb(255, 0, 0);
}

.img-link {
  text-decoration: none;
}

.img-link:hover {
  text-decoration: none;
}

#tutorial-select {
    max-width: 500px;
    width: 85%;
}

@media print {
    #content {
        font-size: 10pt;
        color: black;
        background-color: white;
    }
    .hide-for-print {
        display: none !important;
    }
}


/*deprecated but works in  Chrome/Edge/Safari*/
body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(200, 200, 200);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(200, 200, 200);
}

#content pre::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}
#content pre::-webkit-scrollbar-track {
  background: rgb(200, 200, 200);        /* color of the tracking area */
}
#content pre::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(200, 200, 200);
}

  /* FROM BOOTSTRAP */

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:disabled {
  opacity: 50%;
  cursor: default;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}

.form-control {
  display: inline-block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
